@using Intro.DAL.Entities
@{
    ViewData["Title"] = "Forum Page";
}

@{
    bool isAuthUser = ViewData["AuthUser"] != null;
}

@if(!isAuthUser)
{
    <div class="unauth-user-topic">Only registered users can write topics.</div>
}

<!-- Котейнер приложения - этот блок будет заполняться JavaScript -->
<app></app>

@if(isAuthUser)
{
    <div class="add-topic">
        <span>Add topic title:</span>
        <br />
        <input type="text" name="title" />
        <br />
        <span>Add topic description:</span>
        <br />
        <textarea id="topic-text"
              data-author-id="@((ViewData["AuthUser"] as User).Id)"></textarea>
        <br />
        <button id="button-publish-topic"><b>Publish topic</b></button>
    </div>
}

<script src="~/js/forum.js"></script>
