@using Intro.DAL.Entities
@{
    ViewData["Title"] = "Topic Page";
}

@if(ViewData["AuthUser"] == null)
{
    <div id="unauthUser">
        <b style="color: #9a3737">Только зарегистрированные пользователи могут писать статьи.</b>
    </div>
}

<articles topic-id='@ViewData["id"]'></articles>

@if(ViewData["AuthUser"] != null)
{
    <b style="color: #9a3737">Добавить статью:</b>
    <br />
    <textarea id="article-text"
        data-author-id="@((ViewData["AuthUser"] as User).Id)" 
        data-topic-id="@ViewData["id"]" 
        data-datetime="@DateTime.Now"></textarea>
    <br />
    <b style="color: #9a3737">Добавить картинку:</b>
    <br />
    <input type="file" name="picture" />
    <button id="button-publish"><b>Опубликовать</b></button>
}

<script src="~/js/topic.js"></script>