@using Intro.DAL.Entities
@{
    ViewData["Title"] = "Topic Page";
}

@{
    bool isAuthUser = ViewData["AuthUser"] != null;
}

@if(!isAuthUser)
{
    <div class="unauth-user-article">Only registered users can write articles.</div>
}

<articles topic-id='@ViewData["id"]' data-auth-user="@(!isAuthUser ? "false" : "true")"></articles>

@if(isAuthUser)
{
    <div class="container-add-article">
        <div class="addArticle">
            <span id="addArticleSpan">Add article:</span>
            <span id="refuseReplyArticle" title="Refuse" style="display:none">&#x274C;</span>
        </div>
        <textarea id="article-text"
              data-author-id="@((ViewData["AuthUser"] as User).Id)"
              data-topic-id="@ViewData["id"]"
              data-reply-id=""></textarea>
        <span class="addPictureSpan">Add picture:</span>
        <em>
            <input type="file" name="picture" />
            <button id="button-publish-article"><b>Publish article</b></button>
        </em>
    </div>
}

<script src="~/js/topic.js"></script>