@{
    ViewData["Title"] = "Topic Page";
}

<p>
    TopicId: @ViewData["id"]
</p>

@if(ViewData["AuthUser"] == null)
{
    <i>Необходимо войти в систему </i>
}
else
{
    var user = ViewData["AuthUser"] as Intro.DAL.Entities.User;

    <b>Добавить комментарий</b>
    <br />
    @*закладываем данные в атрибуты data*@
    <textarea id="article-text" data-author-id="@user.Id" data-topic-id="@ViewData["id"]" data-datetime="@DateTime.Now"></textarea>
    <br />
    <button id="button-publish">Опубликовать</button>

    <script src="~/js/topic.js"></script>
}