@using Intro.DAL.Entities
@{
    ViewData["Title"] = "Topic Page";
}

@{
    bool isAuthUser = ViewData["AuthUser"] != null;
}

@if(!isAuthUser)
{
    <div class="unauthUser" style="margin-bottom: 1.5em">
        <b style="color: #9a3737">Only registered users can write articles.</b>
    </div>
}

<articles topic-id='@ViewData["id"]' data-auth-user="@(!isAuthUser ? "false" : "true")"></articles>

@if(isAuthUser)
{
    <b id="addArticleLabel" style="color: #9a3737">Add article:</b>
    <br />
    <textarea class="txt-input" id="article-text"
          data-author-id="@((ViewData["AuthUser"] as User).Id)"
          data-topic-id="@ViewData["id"]"></textarea>
    <br />
    <b style="color: #9a3737">Add picture:</b>
    <br />
    <input type="file" name="picture" />
    <button class="btn-publish" id="button-publish-article"><b>Publish article</b></button>
}

<script src="~/js/topic.js"></script>