@model ContactsModel
@{
    ViewData["Title"] = "Contacts";
}

<h1>@ViewData["Title"] Page</h1>
<p>
    Model address: <b>@Model.Address</b>
</p>
<p>
    Model phone: <b>@Model.Phone</b>
</p>
<p>
    Model name: <b>@Model.Name</b>
</p>